{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">Agregar Categoria</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form|crispy }}
                        <div class="text-center mt-3">
                            <a class="btn btn-dark" href="{% url 'inicio' %}">Volver al Inicio</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}