{% extends 'base.html' %}
{% block contenido %}

<div class="container mt-4 text-center">
    <h2>Crear Comanda</h2>
    <form id="comandaForm" method="post">
        {% csrf_token %}

        <h3>Comestibles</h3>
        <div class="row mt-3">
            {% for producto in comestibles %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">{{ producto.nombre }}</h5>
                                </div>
                                <div class="col">
                                    <input type="number" min="0" class="form-control" name="cantidad_{{ producto.id }}" data-producto-id="{{ producto.id }}" placeholder="Cantidad">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3>Bebestibles</h3>
        <div class="row mt-3">
            {% for producto in bebestibles %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">{{ producto.nombre }}</h5>
                                </div>
                                <div class="col">
                                    <input type="number" min="0" class="form-control" name="cantidad_{{ producto.id }}" data-producto-id="{{ producto.id }}" placeholder="Cantidad">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Crear Comanda</button>
    </form>
</div>

<script>
    document.getElementById('comandaForm').onsubmit = function(event) {
        event.preventDefault();
    
        let productos = [];
        document.querySelectorAll('[data-producto-id]').forEach(input => {
            let producto_id = input.getAttribute('data-producto-id');
            let cantidad = input.value;
            if (cantidad > 0) {
                productos.push({ producto_id: producto_id, cantidad: cantidad });
            }
        });
    
        fetch("{% url 'crear_comanda' %}", {
            method: 'POST',
            body: JSON.stringify({ productos: productos }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    };
</script>

{% endblock %}
