{% extends 'base.html' %}
{% block contenido %}

<div class="container mt-4">
    <h2>Generar Informe de Ventas</h2>
    <form action="{% url 'generar_informe_ventas' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <label for="fecha_inicio">Fecha de Inicio</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="fecha_fin">Fecha de Fin</label>
                <input type="date" id="fecha_fin" name="fecha_fin" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Generar Informe</button>
    </form>
</div>

{% endblock %}