{% extends 'base.html' %}
{% block contenido %}
<div class="container">
    <h2>Listado de Usuarios</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>
                    <a href="{% url 'detalles_usuario' usuario.id %}" class="btn btn-primary btn-sm">Ver Detalles</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
