{% extends 'base.html' %}
{% block contenido %}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-9">
                <div class="h2 text-center mt-3">Listado de Productos General</div>
                <!-- Formulario de búsqueda -->
                <form method="GET" class="mb-4">
                    <div class="input-group mt-3">
                        <input type="text" name="q" class="form-control" placeholder="Buscar productos..."
                            value="{{ query }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary">Buscar</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-3 mt-3">
                <a class="btn btn-success" href="{% url 'ingresoproducto' %}">Agregar Producto</a>
            </div>
        </div>
        <table class="table table-dark table-hover table-stripped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{producto.nombre}} </td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.categoria}}</td>
                    <td><a href="{% url 'producto_detalle' producto.id %}" class="btn btn-primary btn-sm">Ver Más</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
    </div>
</div>

{% endblock %}