{% extends 'base.html' %}
{% block contenido %}

<div class="container mt-4">
    <h2 class="text-center">Detalles del Producto: {{ producto.nombre }}</h2>
    <hr>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text">Precio: ${{ producto.precio }}</p>
            <p class="card-text">Categoría: {{ producto.categoria }}</p>
        </div>
    </div>
    <div class="row text-center mt-4">
        <div class="col">
            <a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary">Modificar Producto</a>
        </div>
        <div class="col">
            <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar Producto</a>
        </div>
    </div>

</div>


{% endblock %}
